@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-primary text-primary
}

.rounded-div {
    @apply border border-secondary shadow-[#aaaaaa] p-4 rounded-2xl shadow-sm bg-primary max-w-7xl w-full mx-auto
}

.test {
    background-color: #222831;
    background-color: #393E46;
    background-color: #14B8A6;
    background-color: #EEEEEE;
    background-color: #FFD700;
    background-color: #FDE047;
}

.dark {
    --color-bg-primary: #222831;
    --color-bg-secondary: #aaaaaa;
    --color-text-primary: #dbdbdb;
    --color-text-secondary: #14B8A6;
    --color-text-accent: #14B8A6;
    --color-bg-input: #aaaaaa;
    --color-bg-button: #FFD700;
}
  
.light {
    --color-bg-primary: #e6f1f2;
    --color-bg-secondary: #aaaaaa;
    --color-text-primary: #2d3748;
    --color-text-secondary: #14B8A6;
    --color-text-accent: #2b6cb0;
    --color-bg-input: #edf2f7;
    --color-bg-button: #14B8A6;
}